<%- include('./partials/header') %>

<body>
    <div class="new-user">
        <a href="/user">New User</a>
    </div>

    <form action="/diet" method="POST" class="food-text-form">
        <label for="name">Enter name:</label>
        <input type="text" id="name" name="name" placeholder="Enter Name">
        <label for="food-text">Enter Food Info</label>
        <input type="text" id="food-text" name="foodText" placeholder="Enter Food info">
        <button type="submit" class="diet-form-submit-btn btn-click-shadow">Submit</button>
    </form>    
    
<%- include('./partials/footer') %>