<%- include('./partials/header') %>
<body>
    <%- include('./partials/nav') %>

    <div class="container my-5">
        <form action="/api/ner" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">User's Name: </label>
              <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
              <div id="nameHelp" class="form-text">Please enter user's name to add a food to diet.</div>
            </div>
            <div class="mb-3">
                <label for="food-text" class="form-label">Enter Food Info</label>
                <textarea class="form-control" id="food-text" name="foodText" rows="3"></textarea>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
   
    <%- include('./partials/footer') %>