<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>NER</title>
</head>
<body>
    <form action="/diet" method="POST">
        <label for="food-text">Enter Food</label>
        <input type="text" id="food-text" name="foodText" placeholder="Enter Food info">
        <button type="submit">Submit</button>
    </form>
    <footer>
        <p>
            Named Entity Recognition
        </p>
    </footer>
</body>
</html>