<%- include('./partials/header') %>

<body>
    <%- include('./partials/nav') %>

    <div class="container my-5">
        <form action="/user" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">Name: </label>
              <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
              <div id="nameHelp" class="form-text">Please enter your name to register.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <%- include('./partials/footer') %>